<div class="flex flex-col h-screen">
  <!-- sidebar -->
  <div class="flex flex-1">
    <section class="w-52 h-full backdrop-blur-sm bg-white/30">
      <a routerLink="/" class="block p-1 text-center text-slate-800">Home</a>
      <a
        routerLink="/settings"
        class="block rounded-sm p-1 text-center text-slate-800"
        >Settings</a
      >
    </section>
    <div class="w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <section class="flex-1">
    <form (submit)="addTask($event, taskInput.value)">
      <input #taskInput type="text" placeholder="Enter your task" />
      <input type="submit" value="Add Task" />
    </form>
    <form class="row" (submit)="greet($event, greetInput.value)">
      <input #greetInput id="greet-input" placeholder="Enter a name..." />
      <button type="submit">Greet</button>
    </form>
    <p>{{ greetingMessage }}</p>
  </section> -->
</div>
