<div section class="w-full h-full">
  <form
    (submit)="addItem($event, name.value, desc.value)"
    class="w-fit mx-auto"
  >
    <input
      #name
      type="text"
      placeholder="Enter a name"
      required
      class="focus-visible:outline-none border border-blue-600 rounded-2xl py-1 px-4 text-blue-950 focus-visible:bg-blue-50 placeholder:text-black"
    />
    <input #desc type="text" placeholder="Enter a description" required />
    <button
      class="bg-blue-400 rounded-2xl py-1 px-4 text-blue-50 font-semibold"
      type="submit"
    >
      Add
    </button>
  </form>

  <!-- add scroll only this article with tailwindcss -->
  <!-- es necesario definir un alto para emplear el scroll en y -->
  <section class="h-96 overflow-y-auto">
    @for (item of items; track $index) {
    <div>
      <span>{{ item.name }} {{ item.date }}</span>
      <span>{{ item.desc }}</span>
    </div>
    }
  </section>
</div>
