@import 'primeicons/primeicons.css';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-size: 14px;
}

body,
body .p-component {
  font-family: 'Euclid Circular A', sans-serif;
}

pre {
  font-family: 'Source Code Pro', monospace;
}
